.section__image {
  background-color: red;
  transform-style: preserve-3d;
  perspective: 1px;
  height: 120vh;
  width: 100vw;
}

.parallax__img {
  position: sticky;
  top: 0;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}
