.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100vh;
  width: 100vw;
}
.menu button {
  padding: 0;
  background-color: transparent;
  border: none;
}
.menu_items_wrapper {
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
}
.menu_item_wrapper {
  cursor: pointer;
}
.button__lang__wrapper {
  position: absolute;
  top: var(--line-height);
  left: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__contrast__wrapper {
  position: absolute;
  top: var(--line-height);
  right: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.space__wrapper {
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.space__wrapper h2 {
  font-family: Fellows;
  font-size: 28px;
  line-height: 28px;
  text-transform: lowercase;
  font-weight: 400;
  margin: 0;
}
