.page__wrapper {
  max-width: var(--max-width);
  width: var(--width);
  min-height: 100vh;
}
.magnetic-element {
  position: relative;
  --y: 0;
  --x: 0;
  top: var(--y);
  left: var(--x);
}

.custom__container {
  padding: 96px 128px;
  max-width: 1280px;
  margin: auto;
}
.custom__container__y {
  padding: 96px 0;
  max-width: 1280px;
  margin: auto;
}
.custom__container__x {
  padding: 0 128px;
  max-width: 1280px;
  margin: auto;
}

h2 {
  margin: 0;
  font-size: 80px;
}
h3 {
  margin: 0;
  font-size: 40px;
}
h4 {
  margin: 0;
  font-size: 32px;
}
h5 {
  margin: 0;
  font-size: 24px;
}
h6 {
  margin: 0;
  font-size: 20px;
}
